
{% extends 'pages/layout.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<style>
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .btn-xem-chi-tiet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-decoration: none;
  }
  
  .image-container:hover .btn-xem-chi-tiet {
    opacity: 1;
  }
  
  .card-body {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text.description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
  }
</style>

<div class="container-fluid mt-2" style="padding-left: 15px; padding-right: 15px;">
    <div class="title d-flex align-items-center">
        <a class="me-2 text-dark" href="{% url 'index' %}">Trang chủ / </a>
        <p class="m-0 text-dark">Tìm kiếm sản phẩm</p>
    </div>
    <h2 style="padding-top: 10px;">KẾT QUẢ TÌM KIẾM</h2>
    
  <div class="row">
    {% if sanpham_list_search %}
        {% for sp in sanpham_list_search %}
  <div class="col-md-3 mb-4 mt-5">
    <div class="card box-shadow">
      <div class="image-container">
        <img class="card-img-top" src="{{ sp.hinhanh.url }}" alt="{{ sp.tenSP }}" />
        <div class="overlay"></div>
        <a href="{% url 'chi-tiet-san-pham' maSP=sp.maSP %}" class="btn-xem-chi-tiet">Xem Chi Tiết</a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ sp.tenSP }}</h5>
        <p class="card-text description">{{ sp.moTa }}</p>
        <div class="card-text d-flex">
          <b><i>{{ sp.giaBan|intcomma }} VNĐ</i></b>
          
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
    {% else %}
    <p>Không tìm thấy kết quả.</p>
    {% endif %}


  </div>

  


</div>

<script>
  function toggleHeart(element) {
    element.classList.toggle('red');
    let icon = element.querySelector('i');
    if (icon.classList.contains('fa-heart-o')) {
      icon.classList.remove('fa-heart-o');
      icon.classList.add('fa-heart');
    } else {
      icon.classList.remove('fa-heart');
      icon.classList.add('fa-heart-o');
    }
  }

</script>
{% endblock %}